<script setup lang="ts">
import { ref, computed } from "vue";
const count = ref(0);
const count2 = ref(0);
function inc() {
  count.value++;
  count2.value += 2;
}

function dec() {
  if (count.value != 0) {
    count.value--;
    count2.value -= 2;
  }
}
</script>

<template>
  <v-row>
    <v-col>
      <div>First Component</div>
      <div>{{ count }}</div>
      <v-btn @click="inc()">INCREMENT</v-btn>
    </v-col>

    <v-col>
      <div>Second Component</div>
      <div>{{ count2 }}</div>
      <v-btn @click="dec()">DECREASE</v-btn>
    </v-col>
  </v-row>
</template>
