<script lang="ts" setup>
import { ref } from "vue";
const image = ref("./feeling_imgs/smile.png");
const emotion = ref("Smile");

function trans(mes: string, img: string) {
  image.value = img;
  emotion.value = mes;
}
</script>

<template>
  <v-container>
    <v-row>
      <v-col>
        <v-img :src="image" width="300"></v-img>
      </v-col>

      <v-col>
        <div style="text-align: center">
          {{ emotion }}
        </div>

        <v-btn
          class="mt-5"
          @click="trans('Angry', './feeling_imgs/angry.png')"
          :color="emotion === 'Angry' ? 'yellow' : 'none'"
          block
          >ANGRY
        </v-btn>

        <v-btn
          class="mt-5"
          @click="trans('Cute', './feeling_imgs/cute.png')"
          :color="emotion === 'Cute' ? 'yellow' : 'none'"
          block
          >CUTE
        </v-btn>

        <v-btn
          class="mt-5"
          @click="trans('Excited', './feeling_imgs/excited.png')"
          :color="emotion === 'Excited' ? 'yellow' : 'none'"
          block
          >EXCITED
        </v-btn>

        <v-btn
          class="mt-5"
          @click="trans('Pain', './feeling_imgs/pain.png')"
          :color="emotion === 'Pain' ? 'yellow' : 'none'"
          block
          >PAIN
        </v-btn>

        <v-btn
          class="mt-5"
          @click="trans('Shocked', './feeling_imgs/shocked.png')"
          :color="emotion === 'Shocked' ? 'yellow' : 'none'"
          block
          >SHOCKED
        </v-btn>

        <v-btn
          class="mt-5"
          @click="trans('Smile', './feeling_imgs/smile.png')"
          :color="emotion === 'Smile' ? 'yellow' : 'none'"
          block
          >SMILE
        </v-btn>

        <!-- </v-sheet> -->
      </v-col>
    </v-row>
  </v-container>
</template>
