<script lang="ts" setup>
import { ref } from "vue";
const number = ref("0");
</script>

<template>
  <v-container>
    <v-row>
      <v-col col="12">
        <v-text-field
          label="Please input Number"
          v-model="number"
          :rules="[(v) => !!v || 'Number is not empty!!']"
        ></v-text-field>
      </v-col>
    </v-row>

    <v-row v-if="parseInt(number) > 0">
      <v-col cols="1" v-for="num in parseInt(number)" :key="num">
        {{ num }}
      </v-col>
    </v-row>
  </v-container>
</template>
